@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://perfectdailygrind.com/wp-content/uploads/2019/02/coffee-bar.jpg" jsaction="load:XAeZkd;" 
    jsname="HiaYvf" class="n3VNCb KAlRDb" alt="Tips to Turn Your Coffee Shop Into a Must-Go Destination - Perfect
    Daily  Grind" data-noaft="1" style="width: 885px; height: 689.905px; margin: 0px;">
    <h1 class="display-4">Welcome to our Coffee Shop! </h1>
</div>
