@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<img src="https://colbyandgale.com/public/wp/media/2021/02/colby-and-gale-become-a-new-customer-slide.jpg" 
jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb KAlRDb" alt="Home - Colby &amp; Gale, Inc." data-noaft="1" 
style="width: 800px; height: 523.853px; margin: 50px;">

<form method="customer"asp-action="AddCustomerToDb">
    First Name: <input type"text" name="FirstName" maxlength="30"/>
    Last Name: <input type"text" name="LastName" maxlength="30"/>
    Email: <input type"text" name="Email" maxlength="30"/>
    Password: <input type"text" name="Password" maxlength="30"/>

    <input type="Submit" />
</form>
