@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Customer
@{
<img src="https://t3.ftcdn.net/jpg/02/46/18/38/360_F_246183862_XWxxWk3E7G8rsB1LvqXkRl3YAQmkTYFq.jpg" jsaction="load:XAeZkd;"
jsname="HiaYvf" class="n3VNCb KAlRDb" alt="Welcome Aboard&quot; Images – Browse 1,538 Stock Photos, Vectors, and Video |  Adobe Stock" 
data-noaft="1" style="width: 713px; height: 560px; margin: 0px;">
        <div>
            <h1>Welcome aboard @Model.FirstName!!</h1>
        </div>
    }

